@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family:"Samim";
        src: url("../public/fonts/Samim/Samim-Medium.ttf") format("truetype");
    }
    @font-face {
        font-family: "Yekan";
        src: url("../public/fonts/Yekan/Yekan.ttf") format("truetype");
    }
}

@layer components {
    .scroll-effect{
        position: fixed;
        left: 0;
        z-index: 50;
        top: 0;
        background-color: white;
        right: 0;
        padding: 20px;
        @apply shadow-lg m-0
    }
    .step-count::after{
          content: "";
          position: absolute;
          top: 55px;
          left: 50%;
          height: 3rem;
          width: 0.1rem;
          background: #ccc;
    }
}